  body{
    background-color: pink;
  }
  h1{
    font-size: 78px;
  }

  .myMap{
    margin-left: 10em;

  }
  .inputBox{
    width: 60%;
    height: : 4em;
  }

.container2{
  background-color: lavender;
}
